.submit .btn {
    background-color: #4dab23 !important;
    margin-left: 0px !important;
    margin-right: 15px !important;
}

.submit {
    margin-bottom: 75px;
}

.modal-footer .submit{
    margin-bottom: 10px !important;
}