<div class="row">
    <div class="pageTitle"><h2>{{'analysis.title.defeat' | translate}}</h2></div>
</div>
<div ng-show ="analysisByDefeat.showGraph" class="row">
    <h5>{{'analysisByDefeat.straightDefeats' | translate}}</h5>
</div>
<div ng-show ="analysisByDefeat.showGraph" class="row">
    <div id="analysisByDefeat"></div>
</div>
<div class="row submit">
    <button type="submit" ng-click="analysisByDefeat.analyze()" class="btn">{{'analysisByDefeat.analyze' | translate}}</button>
</div>
