<div class="row">
    <div class="pageTitle"><h2>{{'analysis.title.draw' | translate}}</h2></div>
</div>
<div ng-show ="analysisByDraw.showGraph" class="row">
    <h5>{{'analysisByDraw.straightDraws' | translate}}</h5>
</div>
<div ng-show ="analysisByDraw.showGraph" class="row">
    <div id="analysisByDraw"></div>
</div>
<div class="row submit">
    <button type="submit" ng-click="analysisByDraw.analyze()" class="btn">{{'analysisByDraw.analyze' | translate}}</button>
</div>
