<div class="row">
    <div class="pageTitle"><h2>{{'analysis.title.victory' | translate}}</h2></div>
</div>
<div ng-show ="analysisByVictory.showGraph" class="row">
    <h5>{{'analysisByVictory.straightWins' | translate}}</h5>
</div>
<div ng-show ="analysisByVictory.showGraph" class="row">
    <div id="analysisByVictory"></div>
</div>
<div class="row submit">
    <button type="submit" ng-click="analysisByVictory.analyze()" class="btn">{{'analysisByVictory.analyze' | translate}}</button>
</div>
