<div class="row">
    <div class="pageTitle"><h2>{{'apiFootball.title.management' | translate}}</h2></div>
</div>
<div class="row">
    <div class="searchCriteria"><h5>{{'application.managementCriteria' | translate}}</h5></div>
</div>
<div class="row">
    <div class="col-md-3">
        <md-card>
            <md-card-content>
                <div layout="row">
                    <md-input-container>
                        <label>{{'apiFootball.searchCriteria.year' | translate}}</label>
                        <md-select ng-model="apiFootball.yearSelected">
                            <md-option ng-value="year" ng-repeat="year in apiFootball.years">{{year}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
<div class="row submit">
    <button type="submit" ng-click="apiFootball.updateCompetition()" class="btn">{{'apiFootball.updateCompetition' | translate}}</button>
    <button type="submit" ng-click="apiFootball.updateTeam()" class="btn">{{'apiFootball.updateTeam' | translate}}</button>
    <button type="submit" ng-click="apiFootball.updateStatistic()" class="btn">{{'apiFootball.updateStatistic' | translate}}</button>
    <button type="submit" ng-click="apiFootball.updateEvent()" class="btn">{{'apiFootball.updateEvent' | translate}}</button>
</div>
