<div class="row">
    <div class="pageTitle"><h2>{{'sport.title.creation' | translate}}</h2></div>
</div>
<div class="row">
    <div class="creationCriteria"><h5>{{'application.creationCriteria' | translate}}</h5></div>
</div>
<form name="sport.createForm">
    <div class="row">
        <div class="col-md-3">
            <div class="md-form">
                <input type="text" id="name" name="name" ng-model="sport.name" class="form-control" required="">
                <label for="name">{{'sport.creationCriteria.name' | translate}}</label>
            </div>
        </div>
    </div>
    <div class="row submit">
        <button type="submit" ng-click="sport.create()" class="btn">{{'application.creationButton' | translate}}</button>
    </div>
</form>