<!doctype html>
<html ng-app="pssApp">
<head>
    <title>{{'application.title' | translate}}</title>


</head>

<body>

<nav class="navbar navbar-toggleable-md">
        <span class="navbar-brand waves-effect waves-light">
            <strong>{{'application.title' | translate}}</strong>
        </span>
    <!--<ul class="navbar-nav">
        <li ng-show="!authenticated" class="nav-item">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.menu.sport' | translate}}</a>
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" ui-sref="sport">{{'sport.title.creation' | translate}}</a>
            </div>
        </li>
    </ul>-->
    <ul class="navbar-nav">
        <li ng-show="!authenticated" class="nav-item">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.menu.api' | translate}}</a>
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" ui-sref="apiFootball">{{'apiFootball.title.management' | translate}}</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li ng-show="!authenticated" class="nav-item">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.menu.database' | translate}}</a>
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" ui-sref="databaseLoading">{{'databaseLoading.title.management' | translate}}</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li ng-show="!authenticated" class="nav-item">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'application.menu.analysis' | translate}}</a>
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" ui-sref="analysisByVictory">{{'analysis.title.victory' | translate}}</a>
                <a class="dropdown-item" ui-sref="analysisByDefeat">{{'analysis.title.defeat' | translate}}</a>
                <a class="dropdown-item" ui-sref="analysisByDraw">{{'analysis.title.draw' | translate}}</a>
            </div>
        </li>
    </ul>
</nav>

<div class="container">
    <toast></toast>
    <div ui-view=""></div>
</div>

<!-- bower:js -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular-translate/angular-translate.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/tether/dist/js/tether.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/ngToast/dist/ngToast.js"></script>
<script src="/bower_components/angular-mocks/angular-mocks.js"></script>
<script src="/bower_components/MDBootstrap/js/mdb.min.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-footballdata-api-factory/dist/angular-footballdata-api-factory.min.js"></script>
<script src="/bower_components/amcharts3/amcharts/amcharts.js"></script>
<script src="/bower_components/amcharts3/amcharts/serial.js"></script>
<!-- endbower -->

<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/bower_components/ngToast/dist/ngToast.css" />
<link rel="stylesheet" href="/bower_components/ngToast/dist/ngToast-animations.css" />
<link rel="stylesheet" href="/bower_components/MDBootstrap/css/mdb.min.css" />
<link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
<!-- endbower -->

<!-- inject:js -->
<script src="/js/index.js"></script>
<script src="/js/constant/year.constant.js"></script>
<script src="/js/config/ngToast.config.js"></script>
<script src="/js/config/route.config.js"></script>
<script src="/js/config/translate.config.js"></script>
<script src="/js/controller/analysisByDefeat.controller.js"></script>
<script src="/js/controller/analysisByDraw.controller.js"></script>
<script src="/js/controller/analysisByVictory.controller.js"></script>
<script src="/js/controller/apiFootball.controller.js"></script>
<script src="/js/controller/databaseLoading.controller.js"></script>
<script src="/js/controller/sport.controller.js"></script>
<script src="/js/service/analysisByDefeat.service.js"></script>
<script src="/js/service/analysisByDraw.service.js"></script>
<script src="/js/service/analysisByVictory.service.js"></script>
<script src="/js/service/apiFootball.service.js"></script>
<script src="/js/service/competition.service.js"></script>
<script src="/js/service/event.service.js"></script>
<script src="/js/service/sport.service.js"></script>
<script src="/js/service/statistic.service.js"></script>
<script src="/js/service/team.service.js"></script>
<script src="/js/service/db_tmp/match.service.js"></script>
<script src="/js/service/db_tmp/team.service.js"></script>
<!-- endinject -->

<!-- inject:css -->
<link rel="stylesheet" href="/css/analysisBiVictoryGraph.css">
<link rel="stylesheet" href="/css/analysisByDefeatGraph.css">
<link rel="stylesheet" href="/css/analysisByDrawGraph.css">
<link rel="stylesheet" href="/css/colMd.css">
<link rel="stylesheet" href="/css/mdCard.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/ngToast.css">
<link rel="stylesheet" href="/css/pageTitle.css">
<link rel="stylesheet" href="/css/row.css">
<link rel="stylesheet" href="/css/select.css">
<link rel="stylesheet" href="/css/submit.css">
<link rel="stylesheet" href="/css/thead.css">
<!-- endinject -->


</body>
</html>